---
---
<!-- _layouts/bib.html -->

{% assign bib_show = true %}

      <div class="row">
<!--        <div class="col-sm-2 abbr">
        {%- if entry.abbr -%}
          {%- if site.data.venues[entry.abbr] -%}
          <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a></abbr>
          {%- else -%}
          <abbr class="badge">{{entry.abbr}}</abbr>
          {%- endif -%}
        {%- endif -%}
        </div>
-->
        <!-- Entry bib key -->
        <div id="{{entry.key}}" class="col-sm-12" display="block">
        {{ reference | newline_to_br  }}
    
          <br/>
          {% if entry.pdf %}<a href="{{ site.url }}{{ site.baseurl }}/assets/papers/{{ entry.pdf }}.pdf" target="_blank"><button class="btn-pdf">PDF</button></a>{% endif %}

          {% if entry.url %}<a href="{{ entry.url }}" target="_blank"><button class="btn-pdf">PDF</button></a> {% endif %}

          {% if entry.abstract %} 
            <a data-toggle="collapse" href="#{{key}}-abstract" class="btn-abstract" role="button">ABS</a>
          {% endif %}

          {% if entry.doi %}<a href="http://dx.doi.org/{{ entry.doi }}" target="_blank"><button class="btn-doi">DOI</button></a> {% endif %}

          {% if entry.arxiv %}<a href="https://arxiv.org/abs/{{ entry.arxiv }}" target="_blank"><button class="btn-arxiv">ARXIV</button></a> {% endif %}

          
          {% if entry.video %} 
            <a href="{{ entry.video }}" class="btn-video" role="button">VID</a>
          {% endif %}


          {% if bib_show %} 
            <a data-toggle="collapse" href="#{{key}}-bib" class="btn-bib" role="button">BIB</a>
          {% endif %}


          

          {% if entry.abstract %}
          <div class="collapse" id="{{key}}-abstract">
            <div class="well-abstract">
            {{entry.abstract}}
            </div>
          </div>
          {% endif %}

          {% if bib_show %} 
          <div class="collapse" id="{{key}}-bib">
            <div class="well-bib">
            {% highlight bibtex %}{{ entry.bibtex | hideCustomBibtex }}{% endhighlight %}
          </div>
          </div>
          {% endif %}

       

          


        </div>

      </div>